<section class="wrapper-green">
    <h6>Contact us</h6>
    <h2>We'll be in touch</h2>
    <p>
        If you have any suggestions or questions, you can always contact us
    </p>
    <div class="contact-cards">
        <div class="contact-card-item">
            <mat-icon class="icon" svgIcon="earphones"></mat-icon>
            <div class="title">24/7 Customer Support</div>
            <div class="content">
                Our Help Center is always open for business. But if
                you can’t find what you’re looking for, connect with our friendly folks at
                ProHealth@gmail.com
            </div>
            <button class="green-button" mat-button>Take me there</button>
        </div>
        <div class="contact-card-item">
            <mat-icon class="icon" svgIcon="ask"></mat-icon>
            <div class="title">Ask us anything</div>
            <div class="content">
                We’re always excited to talk to amazing people and awesome hospitals.
                Tell us your thoughts and let's chat.
            </div>
            <button class="green-button" mat-button>Take me there</button>
        </div>
        <div class="contact-card-item">
            <mat-icon class="icon" svgIcon="talk"></mat-icon>
            <div class="title">Talk to us</div>
            <div class="content">
                Wondering if MedCare is right for your business?
                Reach out to our sales team for expert advice and transparent pricing
                before you buy.
            </div>
            <button class="green-button" mat-button>Take me there</button>
        </div>

    </div>
</section>

