<section class="wrapper-green">
    <h6>How does it work</h6>
    <h2>Global hospital platform</h2>
    <p>
    ProHealth makes it possible to manage your staff and your patients from public hospitals to the smallest private businesses
    </p>
    <div class="stepper">
        <div class="step completed">
            <div class="step-label"></div>
            <div class="step-description">Register your hospital</div>
        </div>
        <div class="step-line"></div>
        <div class="step">
            <div class="step-label"></div>
            <div class="step-description">Register yourself as head doctor</div>
        </div>
        <div class="step-line"></div>
        <div class="step">
            <div class="step-label"></div>
            <div class="step-description">Choose a subscription</div>
        </div>
        <div class="step-line"></div>
        <div class="step">
            <div class="step-label"></div>
            <div class="step-description">Start using our service</div>
        </div>
    </div>
</section>
