<footer>
    <div class="footer-wrapper">
        <div class="top">
            <div class="col1">
                <a href="#" class="logo">
                    <mat-icon class="logo-icon" svgIcon="logo"></mat-icon>
                    <p>ProHealth</p>
                </a>
                <p>
                    The all-in-one healthcare marketing and medical
                    practice management solution that enhances every patient touchpoint.
                </p>
            </div>
            <div class="col2">
                <h4>About us</h4>
                <a href="#">Scheduling</a>
                <a href="#">Subscriptions</a>
            </div>
            <div class="col3">
                <h4>Our reviews</h4>
                <a href="#">Capterra</a>
                <a href="#">G2</a>
            </div>
            <div class="col4">
                <h4>Legal</h4>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookies Policy</a>
            </div>
            <div class="col5">
                <h4>Contact us</h4>
                <p>ProHealth@gmail.com</p>
                <p>+1 123 456 789</p>
            </div>

        </div>
        
        <div class="bottom">
            <div class="footer-year">2023 MedCare</div>
            <div class="footer-icons"></div>
        </div>
    </div>
</footer>
